[submodule "generators/rocket-chip"]
	path = generators/rocket-chip
	url = https://github.com/iscas-versys/rocket-chip.git
	branch = formal
[submodule "difftest"]
    path = difftest
    url = https://github.com/SeddonShen/difftest.git
    branch = master
[submodule "generators/riscv-boom"]
	path = generators/riscv-boom
	url = https://github.com/iscas-versys/riscv-boom-difftest.git
	branch = formal

[submodule "riscv-spec-core"]
    path = riscv-spec-core
    url = https://github.com/iscas-tis/riscv-spec-core.git