[submodule "generators/rocket-chip"]
	path = generators/rocket-chip
	url = https://github.com/iscas-versys/rocket-chip.git
	branch = master
[submodule "difftest"]
	path = difftest
	url = https://github.com/OpenXiangShan/difftest.git
	branch = master
[submodule "generators/riscv-boom"]
	path = generators/riscv-boom
	url = https://github.com/iscas-versys/riscv-boom-difftest.git
	branch = formal
